@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"), url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff2") format("woff2"), url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff2") format("woff2"), url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans 700 Bold';
  src: url("../fonts/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"),
    url("../fonts/MuseoSansCyrl-700.woff") format("woff"),
    url("../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus:not(:focus-visible) {
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  flex-shrink: 0;
}

button,
input {
  outline: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

/* Global */

/* Сustom properties  */

:root {
  --basic-white: #ffffff;
  --background-timer-item: #121212;
  --background-color-modal: #2c2c2c;
  --background-modal-input: rgba(255,255,255, 0.25);
}

.block-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Index */
.page,
.page-body {
  font-size: 62.5%;
}

.page {
  height: 100%;
}

.page-body {
  /* min-width: 124rem; */
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 114%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  color: var(--basic-white);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(6, 6, 6, 1) 35%);

}

/* Index */

.main {
  position: relative;
}

.container {
  width: 130rem;
  margin: 0 auto;
}

.btn {
  border-radius: 5rem;
  padding: 1rem 3rem 1rem 3rem;
  color: var(--basic-white);
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
}

/* header */

.main-header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  z-index: 10;
  padding: 4rem 11rem 4rem 8rem;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  width: 4rem;
  height: 4rem;
}

.menu-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.site-nav li:not(:last-child) {
  margin-right: 7.1rem;
}

.header-btn {
  margin-left: 55.3rem;
  background-image: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

/* section class="main-display" */

.main-display-background {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.main-display {
  margin-top: 27rem;
}

.main-display .container {
  position: relative;
  z-index: 10;
  padding-bottom: 22.8rem;
}

.main-display-header {
  max-width: 76rem;
  font-size: 6.4rem;
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 5rem;
}

.main-display-timer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 7.6rem;
}

.timer-item {
  width: 10.2rem;
  height: 11.2rem;
  background-color: var(--background-timer-item);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.timer-item:not(:last-child) {
  margin-right: 3rem;
}

.timer-count {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
}

.timer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  opacity: 0.4;
}

.timer-btn {
  font-weight: 700;
  line-height: 150%;
  background-image: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

/* section class="work" */

.work {
  padding-top: 20rem;
  padding-bottom: 24.3rem;
}

.work-wrap {
  display: flex;
}

.work-img {
  width: 52.6rem;
  height: 54.2rem;
  margin-right: 13.4rem;
}

.work-text {
  padding-top: 6.9rem;
}

.work-header {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
  margin-bottom: 4.5rem;
}

.work-desc {
  line-height: 160%;
}

/* section class="process" */

.process {
  padding-bottom: 20rem;
  position: relative;
}

.process-title {
  display: flex;
  margin-bottom: 5.1rem;
}

.process-img {
  width: 9.5rem;
  height: 4.5rem;
  margin-right: 3rem;
}

.process-header {
  padding-top: 2.5rem;
  font-weight: 700;
  font-size: 4.9rem;
  line-height: 140%;
}

.process-desc {
  max-width: 41.1rem;
  line-height: 160%;
  opacity: 0.5;
  margin-bottom: 8rem;
}

.process-columns {
  display: flex;
  flex-wrap: wrap;
}

.process-columns::after {
  content: '';
  display: block;
  width: 129.6rem;
  height: 0.2rem;
  position: absolute;
  top: 34rem;
  left: 50%;
  transform: translate(-50%, 0);
  background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
}

.column-item {
  min-width: 30.6rem;
}

.column-item:not(:last-child) {
  margin-right: 1.8rem;
}

.header-column {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 140%;
  margin-bottom: 6.5rem;
}

.text-column {
  font-size: 1.4rem;
  line-height: 160%;
  opacity: 0.5;
}

/* section class="our-team" */

.our-team {
  padding-bottom: 20rem;
}

.our-team-title {
  display: flex;
  margin-bottom: 11.3rem;
}

.our-team-logo {
  width: 9.5rem;
  height: 4.5rem;
  margin-right: 3.9rem;
}

.our-team-logo img {
  transform: rotate(-45deg);
}

.our-team-header {
  padding-top: 2.5rem;
  font-weight: 700;
  font-size: 4.9rem;
  line-height: 140%;
}

.our-team-wrap {
  display: flex;
  justify-content: space-between;
  padding-left: 11rem;
  padding-right: 11rem;
}

.our-team-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.our-team-img {
  width: 19rem;
  height: 19rem;
  margin-bottom: 4rem;
  border-radius: 50%;
}

.our-team-name {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 140%;
  margin-bottom: 1.5rem;
}

.our-team-professional {
  line-height: 160%;
  opacity: 0.8;
  margin-bottom: 3rem;
}

.our-team-link {
  border: 0.1rem solid #FFFFFF;
  line-height: 150%;
}

/* FOOTER section class="assembly"*/

.assembly {
  padding-bottom: 24.4rem;
}

.assembly-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.assembly-header {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
  margin-bottom: 3rem;
}

.assembly-desc {
  line-height: 160%;
  opacity: 0.5;
  margin-bottom: 4.5rem;
}

.assembly-btn {
  background-image: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
  margin-bottom: 4.1rem;
}

.assembly-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.assembly-socials-item img {
  width: 50%;
  height: 50%;
}

.assembly-socials-item {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
  border-radius: 50%;
  cursor: pointer;
}

.assembly-socials-item:not(:last-child) {
  margin-right: 3rem;
}

/* modal window */

.modal {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10;
  padding: 3rem 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
}

.modal-inner {
  width: 66.3rem;
  padding: 9rem;
  background-color: var(--background-color-modal);
  text-align: center;
  position: relative;
}

.modal-header {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 140%;
  margin-bottom: 1rem;
}

.modal-desc {
  line-height: 160%;
  opacity: 0.5;
  margin-bottom: 2.8rem;
}

.modal-elements {
  width: 45.5rem;
  margin: 0 auto;
}

.modal-item {
  height: 4.4rem;
  margin-bottom: 3.2rem;
}

.modal-item:not(:last-child) {
  margin-bottom: 1.8rem;
}

.modal-item input {
  color: var(--basic-white);
  opacity: 0.8;
}

.modal-input {
  background: var(--background-modal-input);
  width: 100%;
  height: 100%;
  border-radius: 5rem;
  font-size: 1.4rem;
  line-height: 160%;
  padding-left: 3rem;
}

.modal-close-button {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.modal-btn {
  background-image: linear-gradient(94.78deg, #DF5950 11.19%, #451046 93.72%);
}

/* Класс убирающий скролл страницы!! */
.noscroll {
  overflow-y: scroll;
  height: 100vh;
}

/* overflow-y: scroll; - фиксируем скролл справа */